body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #bada55;
    
    text-align: center;
/*
#bada55
#d1e5e1
#101
#fb1
#0d355a
*/
}

.canvasContainer {
    background-color: #d1e5e155;
}

